{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title> {% block title %}Base{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'meetings/style/bootstrap.css'%}">

    <link rel="stylesheet" href="{% static 'meetings/style/site.css'%}">

    <script src="https://kit.fontawesome.com/64eb2ab3e7.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-primary ">
            <div class="container">

                <div class="collapse navbar-collapse" id="navbar-Collapse">

                    <ul class="nav navbar-nav mr-auto">

                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{% url  'new_app' %}">Book appointment!</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{% url  'appointment' %}">Appointment list</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock content %}
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'meetings/js/bootstrap.js'%}"></script>
    
    

</body>

</html>